.form {
  //border: 1px solid #cecece;
  padding: 32px;
  border-radius: 5px;
  box-shadow: 0 14px 21px 13px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 14px 21px 13px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 14px 21px 13px rgba(0, 0, 0, 0.18);
}